.card {
    display: flex !important;
    flex-direction: column;
    height: 150px;
}

.container {
    flex: 1;
    padding: var(--spacers-dp10);
}

.avatars{
    height: 40px;
    width: 40px;
}

.title {
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
    /* font-weight: 600; */
    font-size: 20px;
}

.body {
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
    color: #606060;
    font-size: 14px;
    line-height: 20px;
}

.actions {
    display: flex;
    gap: var(--spacers-dp8);
    border-top: 1px solid var(--colors-grey300);
    padding: var(--spacers-dp16);
}
